@model User
<h1>Profile for User #@Model.user_id</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Date Registered</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.first_name @Model.last_name</td>
            <td>@Model.email</td>
            <td>@Model.created_at.ToString("D")</td>
        </tr>
    </tbody>
</table>